{% extends 'portfolio/base.html' %}

{% block content %}

{% load static %}

<div class="row justify-content-center my-3">
    <div class="col-5">
      <img src="{% static 'aboutyou/eightfoldai.png' %}" class="img-fluid">
      <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6774720831621734400" 
      height="610" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
    </div>
  </div>


<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Quick Background
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" 
      aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li>
                    Founded in California in 2016 under the name VolkScience. 
                </li>
                <li>
                    Received over $170M in funding. Most recently received Series D Funding in October
                    2020 for $125M.
                </li>
                <li>
                    Main product is a platform that aggregates as much people data as possible in order
                    to learn and match people with the right opportunities for them. It also continues
                    to learn once the talent has been brought into the organization, so that the talent
                    can be matched with future roles and career shifts.  
                </li>
            </ul> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Leadership
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" 
      aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li>
                    CEO & Co-Founder: Ashutosh Garg
                </li>
                <li>
                    CTO & Co-Founder: Varun Kacholia
                </li>
                <li>
                    President: Kamal Ahluwalia
                </li>
                <li>
                    Chief Financial Officer: Celia Poon
                </li>
                <li>
                    Chief Revenue Officer: Jeff Griggs
                </li>
                <li>
                    Chief Product Officer: Sachit Kamat
                </li>
                <li>
                    Chief Marketing Officer: Ligia Zamora
                </li>
                <li>
                    VP People: Tracy Flynn
                </li>
                <li>
                    General Counsel: Roy Wang
                </li>
                <li>
                    VP Professional Services: Jen Wilks
                </li>
                <li>
                    Managing Director, India: Sandesh Goel
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Values
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" 
      aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li>
                    <strong>Empowering</strong> people to pursue the career path of their choosing.
                </li>
                <li>
                    Solving employment
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>


<h2 class="mt-5">Some More About You</h2>
<hr>
<div class="row">
  {% for aboutyou in aboutyous %}
  <div class="col-lg-4 col-md-6">

    <img src="{{ aboutyou.image.url }}" class="img-fluid mb-2">

    <a href="{{ aboutyou.url }}"><h3>{{ aboutyou.title }}</h3></a>
    <p>{{ aboutyou.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}