<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static "portfolio/custom.css" %}">

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static "portfolio/eightfoldLogo.png" %}">

    <title>Ariel Simmons Interview</title>

  </head>
  <body>
    <nav id="topNav" class="navbar navbar-expand-lg navbar-light" 
    style="background-color: rgb(26, 84, 120);">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static "portfolio/eightfoldLogo.png" %}" width="30" height="30" 
                class="d-inline-block align-top" alt="Ari's Logo">
                <span>Ariel Simmons</span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" 
              data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
              aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% static "portfolio/resume.pdf" %}" t
                    arget="_blank">Resume</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/arisimmons/" 
                    target="_blank">LinkedIn</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://und.com/roster/ariel-simmons/" 
                    target="_blank">Notre Dame Profile</a>
                  </li>
                  <li>
                    <a role="button" href="{% url 'aboutme:about_me' %}" 
                    class="btn btn-primary">About Me</a>
                  </li>
                  <li>
                    <a role="button" href="{% url 'aboutyou:about_you' %}" 
                    class="btn btn-primary">About You</a>
                  </li>
                </ul>
              </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>
</html>